<div class="container mt-5">
    <h1 class="text-center mb-5">About Us</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Our History</h2>
            <p>Established in 2022, we've been proudly serving our community for 2 years. From humble beginnings, we've grown into a beacon of health and strength, committed to helping individuals achieve their fitness goals.</p>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <h2>Training Techniques</h2>
            <ul class="list-group">
                <li class="list-group-item">High-Intensity Interval Training (HIIT)</li>
                <li class="list-group-item">Functional Training</li>
                <li class="list-group-item">Strength and Conditioning</li>
                <li class="list-group-item">CrossFit</li>
            </ul>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <h2>Physical Therapies</h2>
            <ul class="list-group">
                <li class="list-group-item">Sports Massage Therapy</li>
                <li class="list-group-item">Injury Rehabilitation Programs</li>
                <li class="list-group-item">Postural Correction Sessions</li>
                <li class="list-group-item">Flexibility and Mobility Training</li>
            </ul>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <h2>Products Available</h2>
            <ul class="list-group">
                <li class="list-group-item">Protein Bars - $2.99</li>
                <li class="list-group-item">Protein Shakes - $4.50</li>
                <li class="list-group-item">Pre-Workout Supplements - $29.99</li>
                <li class="list-group-item">Fitness Apparel - Prices Vary</li>
            </ul>
        </div>
    </div>
</div>