@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome GymBro</b></h1>
    <img src="~/img/danielle-cerullo-CQfNt66ttZM-unsplash.jpg" style="width: 100vh" img/>
</div
