@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid p-0">
    <div class="row position-relative">
        <div class="col p-0">
            <img src="~/img/danielle-cerullo-CQfNt66ttZM-unsplash.jpg" class="img-fluid" alt="Background Image" />
            <div class="overlay position-absolute top-0 start-50 translate-middle-x text-center p-4" style="background-color: rgba(0, 0, 0, 0.8);" ;">
                <div class="text-white">
                    <h1>Welcome to Gym Fitness</h1>
                    <p>Your journey to a healthier lifestyle starts here.</p>
                </div>
            </div>
        </div>
    </div>
</div>


